<div class="container">
  <div class="row">
    <div class="col-xs-12 bg-info">
      <h1>Five#index <span class="label label-warning">In Progress</span></h1>
      <p>Find me in app/views/five/index.html.erb</p>


      <div class="well well-sm">
        <h2>1</h2>
        <div class="row">
          <div class="col-md-6">
              <%= form_tag five_search_path do %>
              <p>
                <%= text_field_tag(:input_element, 'Input element') %>
              </p>
    
              <p>
                <%= text_area_tag(:textarea_element, 'Textarea field',  size: "24x6") %>
              </p>
    
              <p>
                <%= check_box_tag(:pet_dog) %>
                <%= label_tag(:pet_dog, "I own a dog") %>
                <%= check_box_tag(:pet_cat) %>
                <%= label_tag(:pet_cat, "I own a cat") %>
              </p>
    
              <p>
                <%= radio_button_tag(:age, "child") %>
                <%= label_tag(:age_child, "I am younger than 21") %>
                <%= radio_button_tag(:age, "adult") %>
                <%= label_tag(:age_adult, "I'm over 21") %> 
              </p>
    
              <%= submit_tag("Search") %>
            <% end %>

          </div>

          <div class="col-md-6">
            <p>пользовательский выбор</p>
            <!-- <p></p>
            <p></p>
            <p></p>
            <p></p> -->

          </div>

        </div>
      </div>

    </div>
  </div>
