<div class="container">
  <div class="row">
      <div class="col-xl-12 bg-info">
        <div class="four">
            <h1>Four#index <span class="label label-warning">In Progress</span></h1>
            <p>Find me in app/views/four/index.html.erb</p>
            
            <div class="well well-sm">
                <%= sum(1,2,3,4,5,6,7,8,9) %>
            </div>

            <div class="well well-sm">
              <%= eval(2,3, '*') %>
            </div>

            <div class="well well-sm">
              <%=getTable(5,10, '#fca')%>
            </div>

            <div class="well well-sm">
              <%= getMenu(@menu) %>
            </div>

            <div class="well well-sm">
              <%= listRenderer(@menu) %>
            </div>

        </div>
    </div>
  </div>
</div>