<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <h1>Two#index <span class="label label-warning">В процессе</span></h1>
      <p>Find me in app/views/two/index.html.erb</p>
      
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Один</h2>
          <div>
            <p>Исходный массив</p>
            <p><code><%= @names =%></code></p>

            <p>Индекс вхождений</p>
            <p>
              <% @names.map.with_index do |name, index|  %>
                <% if name == 'Вася' %>
                  <code><%= index =%></code>
                <% end %>
              <% end %>
            </p>

            <p>Остается один Вася</p>
            <p><code><%= @names.uniq =%></code></p>

            <p>Вась не остается</p>
            <p><code> <%= @names.delete('Вася') =%></code></p>

            <p>Сортировка</p>
            <p><code><%= @names.sort =%></code></p>
            <p><code><%= @names.sort { |x, y| y <=> x }=%></code></p>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Два</h2>
          <p>Исходный массив</p>
          <p>
            <% @users.each do |user| %>
              <code><%= user[:lastName] =%> <%= user[:role] =%></code>
            <% end %>
          </p>
          <p>Сортировка. Сначала одмены, потом юзеры</p>
          <p>
            <% @users.sort_by { |user| user[:role] }.each do |user| %>
              <code><%=  user[:lastName ] =%></code>
            <% end %>
          </p>

          <p>Разбиение массива</p>
          <p>
            <% @admins.each do |admin| %>
              <code><%= admin[:lastName] =%> <%= admin[:role] =%></code>
            <% end %>
          </p>
          <p>
            <% @notadmins.each do |notadmin| %>
              <code><%= notadmin[:lastName] =%> <%= notadmin[:role] =%></code>
            <% end %>
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        
        <div class="panel-heading">
          <h3>Три</h3>
        </div>
        
        <div class="panel-body">    
          <% @countries.each do |country| %>  
            <% country.map do |key, value| %>
              <p>
                <div class="panel panel-warning">
                  <div class="panel-heading"><%= key =%></div>
                <div class="panel-body"><%= value.join(', ') =%></div>
              </div>
              </p>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h3>Четыре</h3>
        </div>

        <div class="panel-body">
      <table class="table table-bordered">
        <%@employees.map.with_index do |employee, index| %>
          <tr>
            <%employee.each do |key, value|%>
              <td><%= value%></td>
            <% end%>
          </tr>
        <%end%>
      </table>
        </div>

      </div>
    </div>
  </div>
</div>